input, button {
  padding: 3px;
  margin: 3px;
}

input {
  width: 70px;
  outline: none;
  border: none;
}

button {
  padding: 3px 6px;
  color: #fff;
  background-color: #154fc4;
  border: none;
  border-radius: 3px;
}

.actionBtn {
  padding: 6px 10px;
  margin: 10px 10px 0 0;
}

.resetBtn {
  background-color: red;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: block;
  margin-bottom: 5px;
}

.col {
  display: inline-block;
  margin-right: 7px;
  background-color: #bbb;
  border-radius: 3px;
}

.result, input {
  text-transform: lowercase;
  color: #aaa;
}