input, button {
  padding: 5px;
  margin: 5px;
}

.removeCol {
  margin-right: 30px;
}

input {
  width: 70px;
  outline: none;
}

button {
  padding: 5px 8px;
  color: #fff;
  background-color: #154fc4;
  border: none;
  border-radius: 3px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: inline;
}